<center>
<img src="https://drive.google.com/uc?id=1f1gGVI-rxcHjA90WEGNvvtSXF1pAxQwg" alt="Fasilkom UI" width="300"/>

CSGE603130 â€¢ Kecerdasan Artifisial dan Sains Data Dasar

Semester Genap 2024/2025

Fakultas Ilmu Komputer, Universitas Indonesia

##**Lab 1: *Pengenalan Pandas dan NumPy***

###**Tenggat Waktu: 09 Februari 2025 23.55 WIB**
</center>

### **Ketentuan:**

1. Dokumen template lab dengan format .ipynb dan dataset (jika dibutuhkan) telah disediakan di SCeLe
2. Jalankan kode pada dokumen .ipynb dan perhatikan dengan saksama apa yang potongan kode tersebut lakukan beserta dengan keluarannya. Jawablah **pertanyaan** yang disisipkan pada potongan program yang diberikan.
3. Dokumen Jupyter Notebook yang telah dilengkapi dengan jawaban dikumpulkan dengan format penamaan **Kelas_LabX_NPM_Nama.ipynb** . Contoh: A_Lab1_1806205773_Abdurrafi Arief.ipynb. Kesalahan dalam pengumpulan nama akan dikenakan pinalti sebesar 5 poin.
4. Kumpulkan dokumen tersebut pada submisi yang telah disediakan di SCeLe sesuai dengan kelas masing-masing sebelum **Tenggat Waktu: 09 Februari 2025, 23.55 WIB**.
5. Keterlambatan pengumpulan akan dikenakan pinalti sebesar 5 poin per jam (pembulatan ke atas). Dengan cut off 1 hari.
6. Lab ini dirancang sebagai **tugas mandiri**. Plagiarisme tidak diperkenankan dalam bentuk apapun. Adapun kolaborasi berupa diskusi (tanpa menyalin maupun mengambil jawaban orang lain) dan literasi masih diperbolehkan dengan mencantumkan kolaborator dan sumber.
7. Pakta Integritas **Wajib** di isi dan di jalankan. Submisi hanya akan dinilai jika pakta integritas di isi dan di jalankan.
8. Sebelum di kumpulkan, kode **WAJIB** dijalankan. Jika tidak, dikenakan penalti sebesar 50%.
9. Mahasiswa wajib mencantumkan semua sumber yang menjadi referensi jawaban, termasuk GPT.

In [1]:
# Isi dengan data diri Anda
NAMA = "Khansa Mahira"
KELAS = "C"
NPM = "2206819413"
USERNAME_KAGGLE = "khansamahira"

# Isi dengan NPM teman yang berdiskusi dengan Anda
KOLABORATOR = []

# Isi dengan sumber referensi yang Anda gunakan dalam mengerjakan
REFERENSI = ["Gemini"]

In [2]:
PERNYATAAN_INTEGRITAS = "Saya, %s dari kelas %s dengan NPM %s, menyatakan bahwa seluruh jawaban pada pekerjaan ini murni saya kerjakan sendiri.\n\
Saya tidak mencontek jawaban, memberikan jawaban, maupun menyalin dari sumber manapun.\n \
\n\
Jika saya melanggar pernyataan tersebut, saya siap menerima konsekuensi apapun yang diberikan.\n   \
(%s)" % (NAMA, KELAS, NPM, NAMA)

print(PERNYATAAN_INTEGRITAS)

Saya, Khansa Mahira dari kelas C dengan NPM 2206819413, menyatakan bahwa seluruh jawaban pada pekerjaan ini murni saya kerjakan sendiri.
Saya tidak mencontek jawaban, memberikan jawaban, maupun menyalin dari sumber manapun.

Jika saya melanggar pernyataan tersebut, saya siap menerima konsekuensi apapun yang diberikan.
   (Khansa Mahira)

# Penguatan Python

Python merupakan bahasa pemrograman yang akan digunakan pada tutorial mata kuliah ini. Terdapat playlist YouTube [Python DDP 1](https://www.youtube.com/playlist?list=PLvkbIcjwo0qwModeUU2JyUi2RQcI6Nfc-) yang telah disediakan oleh Pak Fariz untuk mendukung dan membantu pemahaman kalian dalam Python. Semoga sukses dalam belajarmu, Semangat ya!

# **1. Pengantar Jupyter Notebook**

Berkas yang akan digunakan pada tutorial yaitu berkas IPYNB. Berkas IPYNB dapat dibentuk dan dibuka menggunakan aplikasi daring seperti [Google Colab](https://www.kaggle.com/notebooks) atau [Kaggle](https://www.kaggle.com/notebooks), ataupun Jupyter Notebook. Dalam berkas ini, konten disusun dalam bentuk sel (cells), yang terdiri dari tiga jenis utama, diantaranya yaitu code cells untuk menulis dan menjalankan kode, markdown cells untuk menulis teks deskriptif atau dokumentasi, serta raw cells untuk menyimpan teks mentah.

Setiap cell dapat dieksekusi dengan kombinasi shortcut **shift + enter** ataupun **tombol run** pada tiap cell. Setiap cell dapat dieksekusi secara mandiri dan tidak perlu dijalankan berurutan, kecuali jika ada variabel global yang diinisiasi pada cell yang belum dijalankan. Cell kode Python yang dieksekusi akan menjalankan kode secara *interpreted* dan menampilkan output (jika ada) di bawah cell.

In [3]:
# Berikut merupakan contoh cell untuk kode Python
# Cell dapat digunakan untuk mengeksekusi kode yang diperlukan

var = "Hello, world!"
print(var[:])
var

## Contoh cell untuk *text markdown*

Ini adalah contoh cell untuk text markdown.

Markdown adalah bahasa markup yang digunakan untuk membuat teks berformat menggunakan editor teks sederhana. Dengan Markdown, dapat dibuat berbagai format teks seperti *heading*, tautan, tabel, daftar, dan banyak lagi. Beragam sintaks Markdown dapat ditemukan dalam [panduan di Markdownguide.org](https://www.markdownguide.org/cheat-sheet/) serta [dokumentasi wiki](https://github.com/adam-p/markdown-here/wiki/Markdown-Here-Cheatsheet) yang dibuat oleh Adam Pritchard.

## 1.1 Instalasi library pada Jupyter Notebook

Secara umum, *tools* seperti JupyterLab dan Google Colab telah menyediakan kernel yang dilengkapi dengan beberapa *library* Python. Namun, untuk menginstal library tambahan yang dibutuhkan, dapat dijalankan perintah `pip install nama-package` pada cell kode. Sebagai contoh, berikut adalah cell untuk menginstall library **Pandas**.

In [4]:
!pip install pandas

Kernel yang digunakan di Jupyter Notebook, seperti halnya kernel pada umumnya, dapat menerima perintah sistem. Selain perintah seperti `pip`, berbagai perintah lain, seperti `git` atau `apt`, juga dapat dijalankan asalkan kernel yang digunakan mendukungnya. Silahkan  mengeksplorasi lebih lanjut penggunaannya, baik pada perangkat lokal seperti Jupyter Notebook maupun platform berbasis *cloud* seperti Google Colab.

# **2. Pengenalan Pandas**

Pandas merupakan alat analisis dan manipulasi data sumber terbuka yang cepat, kuat, fleksibel, dan mudah digunakan, dibangun di atas bahasa pemrograman Python (Pandas - Python Data Analysis Library, n.d.). Terdapat pula [dokumentasi Pandas](https://pandas.pydata.org/docs/getting_started/index.html) sebagai acuan dalam berlatih menggunakan library ini.

In [5]:
# import library
import pandas as pd

Terdapat struktur data utama yang digunakan di Pandas, yaitu Series dan DataFrame. Series merupakan struktur data satu dimensi seperti array atau daftar Python, yang memiliki indeks unik untuk setiap elemen. Umumnya, series cocok digunakan untuk menangani data seperti kolom tunggal dari tabel. Sedangkan, DataFrame merupakan struktur data dua dimensi yang menyerupai tabel dengan baris dan kolom. DataFrame sangat fleksibel karena setiap kolom dapat memiliki tipe data yang berbeda.
Berikut penjelasan dan contoh detail dari Series maupun DataFrame.

## 2.1 Series

Series adalah struktur data satu dimensi yang serupa dengan array. Series memiliki indeks dan nilai (*value*), di mana indeks secara default berupa angka dari 0 hingga N-1, dengan N merupakan panjang Series. Series dapat dibuat menggunakan berbagai tipe data, seperti *list*, *tuple*, atau *dictionary*.

Salah satu cara yang umum digunakan untuk membuat objek Series adalah sebagai berikut.

```
pd.Series(data)
```

`data` di atas dapat berupa *list*, *tuple*, atau *dictionary*.

Berikut merupakan contoh penggunaan Series.

In [6]:
# Membuat objek Series dari sebuah list
series = pd.Series([1,2,4,8,16,32])
series

Berdasarkan kode di atas, Series menunjukkan tipe data yang diberikan dengan contoh tersebut adalah integer. Selain itu, Series memiliki *index* yang terletak di bagian sebelah kiri dan *value* yang terletak di bagian sebelah kanan. Kedua hal tersebut dapat diakses dengan menggunakan atribut `index` dan `values`.  Untuk melihat lebih detail terkait *index* dan *value* nya, dapat menggunakan kode sebagai berikut.

In [7]:
# Melihat index dari series
series.index

In [8]:
# Melihat values dari series
series.values

Tidak hanya itu, Series juga dapat diakses menggunakan teknik *indexing* dan *slicing* dengan contoh sebagai berikut.

In [9]:
# Melakukan indexing pada series
series[1]

In [10]:
# Melakukan slicing pada series
series[1:4]

Pada contoh di atas, *indexing* digunakan untuk untuk mengakses elemen individual berdasarkan indeks atau label. Sedangkan, *slicing* digunakan untuk memilih subset dari data berdasarkan rentang *index*. Slicing dapat dilakukan dengan menggunakan index atau label dan akan mengembalikan elemen dalam rentang yang ditentukan.

## 2.2 DataFrame

DataFrame adalah struktur data dua dimensi yang mirip dengan tabel. DataFrame memiliki indeks dan kolom. Secara default, indeks pada DataFrame berupa angka yang dimulai dari 0 hingga N-1, di mana N adalah jumlah baris pada DataFrame. DataFrame dapat dibuat menggunakan berbagai tipe data seperti *list*, *tuple*, *dictionary*, dan Series. Setiap kolom dalam DataFrame dapat memiliki tipe data yang berbeda, seperti *integer*, *string*, atau *float*. Seperti halnya Series, DataFrame juga memiliki indeks yang unik untuk setiap barisnya.

<br>DataFrame dapat digunakan untuk menyimpan dan memanipulasi data yang berasal dari berbagai sumber, seperti file CSV, Excel, atau basis data SQL. Salah satu cara umum untuk membuat objek DataFrame adalah dengan menggunakan sintaks berikut.

```
pd.DataFrame(data, columns=column_names)
```

`data` di atas dapat berupa list, tuple, atau dictionary.

`column_names` adalah list yang berisi nama kolom.

Berikut merupakan contoh penggunaan DataFrame.

### 2.2.1 Pembuatan DataFrame

#### 1. Pembuatan DataFrame melalui List

In [11]:
# Memasukkan data ke dalam lists
data_list = [
    [1, 'Jane', 80],
    [2, 'John', 90],
    [3, 'Doe', 70]
]

# Membuat dataframe
df_list = pd.DataFrame(data_list, columns=['ID', 'Name', 'Score'])
df_list

#### 2. Pembuatan DataFrame melalui Dictionary

 * Pembuatan DataFrame melalui *Dictionary of Lists*

In [12]:
# Memasukkan data ke dalam dictionary of lists
data_dict = {
    'ID': [1, 2, 3],
    'Name': ['Jane', 'John', 'Doe'],
    'Score': [80, 90, 70]
}

# Membuat dataframe
df_dict = pd.DataFrame(data_dict)
df_dict

* Pembuatan DataFrame melalui *Dictionary of Series*

In [13]:
# Memasukkan data ke dalam dictionary of series
data_series = {
    'ID': pd.Series([1, 2, 3]),
    'Name': pd.Series(['Jane', 'John', 'Doe']),
    'Score': pd.Series([80, 90, 70])
}

# Membuat dataframe
df_series = pd.DataFrame(data_series)
df_series

#### 3. Pembuatan DataFrame melalui Tuple

In [14]:
# Memasukkan data ke dalam
data_tuple = [
    (1, 'Jane', 80),
    (2, 'John', 90),
    (3, 'Doe', 70)
]

# Membuat dataframe
df_tuple = pd.DataFrame(data_tuple, columns=['ID', 'Name', 'Score'])
df_tuple

#### 4. Pembuatan DataFrame melalui Series

In [15]:
# Memasukkan data ke dalam series
id_series = pd.Series([1, 2, 3], name='ID')
name_series = pd.Series(['Jane', 'John', 'Doe'], name='Name')
score_series = pd.Series([80, 90, 70], name='Score')

# Membuat dataframe
df_ser = pd.concat([id_series, name_series, score_series], axis=1)
df_ser

#### 5. Pembuatan DataFrame melalui Sumber Eksternal

* Pembuatan DataFrame melalui Sumber Eksternal (URL Remote)

**Membaca berkas CSV dari URL remote**

In [16]:
# Membaca file CSV
df_remote = pd.read_csv(
    'https://archive.ics.uci.edu/ml/machine-learning-databases/zoo/zoo.data', # Path menuju berkas dataset, dapat berupa path lokal maupun URL remote
    header=None # Baris pertama dataset bukan header
)

display(df_remote) # Menampilkan DataFrame

**Memberikan nama kolom pada DataFrame yang telah dibuat agar lebih bermakna**

In [17]:
df_remote.columns = [
    'animal_name', 'Hair', 'Feathers', 'Eggs',
    'Milk', 'Airbone', 'Aquati', 'Predator',
    'Toothed', 'Backbone', 'Breathes', 'Venomous',
    'Fins', 'Legs', 'Tail', 'Domestic', 'Catsize', 'Type'
]
df_remote

```
Deskrispi dataset:
* animal_name: Nama hewan yang sedang dianalisis dalam dataset.
* Hair: Indikator apakah hewan memiliki rambut atau bulu (0 = Tidak, 1 = Ya).
* Feathers: Indikator apakah hewan memiliki bulu (0 = Tidak, 1 = Ya).
* Eggs: Indikator apakah hewan bereproduksi dengan bertelur (0 = Tidak, 1 = Ya).
* Milk: Indikator apakah hewan menghasilkan susu untuk memberi makan anaknya (0 = Tidak, 1 = Ya).
* Airborne: Indikator apakah hewan dapat terbang atau hidup di udara (0 = Tidak, 1 = Ya).
* Aquatic: Indikator apakah hewan hidup di air atau memiliki sifat akuatik (0 = Tidak, 1 = Ya).
* Predator: Indikator apakah hewan merupakan predator atau pemangsa (0 = Tidak, 1 = Ya).
* Toothed: Indikator apakah hewan memiliki gigi (0 = Tidak, 1 = Ya).
* Backbone: Indikator apakah hewan memiliki tulang belakang atau merupakan vertebrata (0 = Tidak, 1 = Ya).
* Breathes: Indikator apakah hewan bernapas menggunakan paru-paru (0 = Tidak, 1 = Ya).
* Venomous: Indikator apakah hewan memiliki bisa atau racun (0 = Tidak, 1 = Ya).
* Fins: Indikator apakah hewan memiliki sirip (0 = Tidak, 1 = Ya).
* Legs: Jumlah kaki yang dimiliki hewan (nilai numerik, seperti 0, 2, 4, 6, dll.).
* Tail: Indikator apakah hewan memiliki ekor (0 = Tidak, 1 = Ya).
* Domestic: Indikator apakah hewan dapat didomestikasi atau dijinakkan (0 = Tidak, 1 = Ya).
* Catsize: Indikator apakah hewan berukuran seperti kucing atau lebih kecil (0 = Tidak, 1 = Ya).
* Type: Klasifikasi atau tipe hewan berdasarkan kategorisasi tertentu (nilai numerik yang merepresentasikan kategori, seperti mamalia, burung, reptil, dll.).
```

* Pembuatan DataFrame melalui *path* lokal

In [18]:
# Membaca file CSV
df_local = pd.read_csv(
    "sales.csv" # relative path dari file csv di lokal
)

df_local

### 2.2.6 Melihat cuplikan DataFrame

Berdasarkan hasil DataFrame sebelumnya, terdapat banyak data yang disertai dengan baris (...). Terdapat method `head()` yang dapat digunakan untuk melihat hanya 5 baris pertama dari DataFrame. Parameter dalam `head()` juga dapat diubah sesuai jumlah baris yang ingin ditampilkan. Selain itu, terdapat method `tail()` yang dapat digunakan untuk melihat 5 baris terakhir.

In [19]:
df_remote.head()

In [20]:
df_remote.tail()

### 2.2.2 Menampilkan atribut dari objek DataFrame

#### 1. Menampilkan dimensi DataFrame dengan atribut `shape`

In [21]:
print("Dimensi dari df adalah", df_remote.shape)
print("df terdiri atas {} baris dan {} kolom.".format(df_remote.shape[0], df_remote.shape[1]))

#### 2. Menampilkan tipe data tiap kolom dengan atribut `dtypes`

In [22]:
df_remote.dtypes

#### 3. Menampilkan statistik umum tiap kolom dengan method `describe()`

In [23]:
df_remote.describe()

#### 4. Menampilkan statistik untuk kolom yang diinginkan dengan method `describe()`

In [24]:
df_remote['animal_name'].describe()

#### 5. Menghitung jumlah elemen tidak null tiap kolom dengan method `count()`

In [25]:
print("Count untuk df_remote\n", df_remote.count())

Berdasarkan kode di atas, diketahui bahwa df_remote seluruhnya terhitung 101 baris, yang umumnya, berarti tidak ada nilai null.

### 2.2.3 Mengakses baris dan kolom dalam  DataFrame

Terdapat beberapa cara dalam mengakses kolom suatu DataFrame, diantaranya sebagai berikut.

#### 1. Mengakses kolom sebagai series

In [26]:
# Mengakses kolom sebagai Series
df_remote_hair = df_remote['Hair']
print(type(df_remote_hair))
df_remote_hair

#### 2. Mengakses kolom sebagai DataFrame

In [27]:
# Mengakses kolom sebagai DataFrame
df_remote_eggs = df_remote[['Eggs']]
print(type(df_remote_eggs))
df_remote_eggs

#### 3. Mengakses beberapa kolom sebagai DataFrame

In [28]:
# Mengakses lebih dari 1 kolom sebagai DataFrame
df_hair_eggs = df_remote[['Hair', 'Eggs']]
df_hair_eggs

Selain mengakses kolom, terdapat pula beberapa cara untuk mengakses baris dan kolom dalam DataFrame, diantaranya menggunakan `loc` dan `iloc`.

Umumnya, `loc` digunakan untuk mengakses baris atau kolom berdasarkan label (nama kolom atau indeks). Indeks yang disebutkan dalam `loc` termasuk (inclusive) dalam pemilihan. Sedangkan `iloc` digunakan untuk mengakses data berdasarkan posisi integer baris dan kolom. Indeks yang disebutkan dalam `iloc` tidak termasuk (exclusive) pada slicing.

#### 1. Mengakses baris menggunakan `loc`

In [29]:
# Mengakses baris 1 sampai dengan 4 menggunakan loc
df_remote.loc[1:4]  # range inklusif

#### 2. Mengakses baris 1 sampai dengan 4 menggunakan `iloc`

In [30]:
# Mengakses baris 1 sampai dengan 4 menggunakan iloc
df_remote.iloc[1:5] # range eksklusif

#### 3. Mengakses baris 1 sampai dengan 4, namun hanya kolom hair dan eggs saja menggunakan `loc`

In [31]:
# Mengakses baris 1 sampai dengan 4, namun hanya kolom hair dan eggs saja, menggunakan loc
df_remote.loc[1:4, ["Hair", "Eggs"]]

#### 4. Mengakses baris 1 sampai dengan 4, namun hanya kolom hair, feathers, dan eggs saja menggunakan `iloc`

In [32]:
# Mengakses baris 1 sampai dengan 4, namun hanya kolom hair, feathers, dan eggs saja, menggunakan iloc
df_remote.iloc[1:5, 1:4]

### 2.2.4 Mengakses Data Tertentu yang Memenuhi suatu Kondisi Dalam DataFrame

In [33]:
# Mengakses data dengan Hair sama dengan 1
df_remote[df_remote['Hair'] == 1]

In [34]:
# Mengakses data dengan Hair sama dengan 1 cm dan Type lebih dari 1
df_remote[(df_remote['Hair'] == 1) & (df_remote['Type'] > 3)]

### 2.2.5 Menangani Missing Values

Nilai null atau *missing values* merujuk pada data yang kosong atau tidak terisi. Hal ini dapat terjadi karena informasi tersebut tidak disediakan, sulit ditemukan, atau memang tidak tersedia. *Missing values* juga dapat direpresentasikan dengan istilah seperti "NA" atau "NaN".

#### 1. Kondisi Tidak Ada *Missing Values*

In [35]:
# Menampilkan jumlah missing values tiap kolom
print("Count missing values untuk df_remote\n", df_remote.isnull().sum())

#### 2. Kondisi Terdapat *Missing Values*

In [36]:
# Menampilkan jumlah missing values tiap kolom
print("Count missing values untuk df_local\n", df_local.isnull().sum())

Berdasarkan kode di atas, diketahui  bahwa ada kolom "country" yang memiliki nilai null dengan jumlah nilai null sebanyak 91 buah.

Ada beberapa pendekatan untuk menangani missing values, berikut pendekatan yang umum digunakan:

Mengisi missing values dengan nilai tertentu menggunakan method `fillna()`
Menghapus (drop) baris atau kolom yang mengandung missing values. Gunakan `dropna()` untuk menghapus baris yang mengandung missing values, dan `dropna(axis='columns')` untuk menghapus kolom yang mengandung missing values.

Contoh-contoh di bawah akan berfokus pada kolom "country".

* Mengisi data menggunakan method `fillna()`

Terdapat tiga cara untuk melakukan method `fillna()`, diantaranya sebagai berikut.

    - Mean, umumnya dapat digunakan untuk mengisi data numerikal yang memiliki distribusi normal.

    - Median, umumnya dapat digunakan untuk mengisi data numerikal yang memiliki distribusi skewed.
    
    - Mode, umumnya dapat digunakan untuk mengisi data kategorikal.

Untuk mengisi *missing values* dalam data, maka akan digunakan mode sebagai contoh.

In [37]:
# Salin DataFrame
df_local_fillna = df_local.copy()

# Mendapatkan nilai modus untuk kolom 'country'
mode = df_local_fillna['country'].mode()[0]

# Mengisi missing values dengan nilai modus
df_local_fillna['country'].fillna(mode, inplace=True)

# Menampilkan 5 baris pertama
df_local_fillna.head(5)

* Menghapus baris atau kolom dengan menggunakan `dropna()`

In [38]:
# dropna untuk menghapus baris yang mengandung missing values
df_local_drop = df_local.copy()
df_local_drop = df_local_drop.dropna()
df_local_drop.head(5)

# Pertanyaan Pandas

Jawab setiap pertanyaan pada cell di bawah cell pertanyaan. Jawaban boleh lebih dari 1 cell dan juga kombinasi antara cell kode atau markdown jika memang diperlukan sebagai penjelasan jawaban. Gunakan dataset School_Nutrition_Programs.csv yang dilampirkan di SCELE untuk mengerjakan soal-soal berikut.

In [39]:
import pandas as pd
import numpy as np

## Nomor 1

Buka dataset  School_Nutrition_Programs.csv sebagai dataframe dan tampilkan 15 baris terarkhir dari dataframe tersebut.

```
Deskripsi Dataset:
* Tahun Program: Tahun tinjauan program terkait (2015-2016).
* ID CE: Pengenal unik untuk Otoritas Makanan Sekolah (SFA).
* Nama CE: Nama Otoritas Makanan Sekolah (SFA).
* Wilayah PKB: Wilayah di bawah Pusat Layanan Pendidikan (ESC) yang mengawasi SFA.
* ID Peninjauan: Pengenal unik untuk tinjauan spesifik yang dilakukan.
* Tanggal Tinjauan: Tanggal pelaksanaan tinjauan.
* Area Temuan: Area atau kategori di mana temuan dibuat selama peninjauan (misalnya, kepatuhan, standar gizi).
* Nomor Pertanyaan: Pertanyaan spesifik dari tinjauan administratif yang terkait dengan temuan.
* Pertanyaan: Teks pertanyaan tinjauan administratif yang terkait dengan temuan.
```



Tujuan:
Dataset ini membantu pengguna memahami jenis-jenis temuan yang dilaporkan selama tinjauan administratif terhadap SFA, yang menyoroti isu-isu kepatuhan dalam NSLP. Data ini dapat bermanfaat bagi peneliti, pembuat kebijakan, atau siapa saja yang tertarik dengan administrasi dan pengawasan program gizi sekolah.

In [40]:
# Masukkan jawaban nomor 1 disini

# Membaca file School_Nutrition_Programs.csv
df_school_nutrition = pd.read_csv("School_Nutrition_Programs.csv")

# Menampilkan cuplikan 15 baris terakhir
df_school_nutrition.tail(15)

## Nomor 2

Tampilkan ukuran DataFrame tersebut, tipe data setiap kolom, serta statistik deskriptif untuk kolom-kolom di atas.

In [41]:
# Masukkan jawaban nomor 2 disini

# Menampilkan dimensi df_school_nutrition
print("Dimensi dari df_school_nutrition adalah", df_school_nutrition.shape)
print("df_school_nutrition terdiri atas {} baris dan {} kolom.".format(df_school_nutrition.shape[0], df_school_nutrition.shape[1]))

In [42]:
# Menampilkan tipe data setiap kolom df_school_nutrition
df_school_nutrition.dtypes

In [43]:
# Menampilkan statistik umum setiap kolom df_school_nutrition
df_school_nutrition.describe()

In [44]:
# Mengubah tipe data Review Date menjadi date
df_school_nutrition['Review Date'] = pd.to_datetime(df_school_nutrition['Review Date'])

In [45]:
# Menampilkan tipe data setelah perubahan tipe data
df_school_nutrition.dtypes

In [46]:
# Menampilkan statistik umum setelah perubahan tipe data
df_school_nutrition.describe()

## Nomor 3

Tampilkan seluruh data dalam kolom `Review ID` yang memiliki nilai lebih dari 20000 pada dataset tersebut.

In [47]:
# Masukkan jawaban nomor 3 disini
df_school_nutrition[df_school_nutrition['Review ID'] > 20000]

## Nomor 4

Tunjukkan ada berapa `CE Name` unik pada dataset tersebut. Kemudian `CE Name` apa yang paling banyak muncul dan berapa banyak kemunculannya?

In [48]:
# Masukkan jawaban nomor 4 disini

# Jumlah CE Name unik pada df_school_nutrition
print("Jumlah CE Name unik pada df_school_nutrition adalah", df_school_nutrition['CE Name'].nunique())

In [49]:
# CE Name yang paling banyak muncul
mode_CE_Name = df_school_nutrition['CE Name'].mode()[0]
print("CE Name yang paling banyak muncul adalah", mode_CE_Name)

In [50]:
# Banyak kemunculan CE Name yang paling banyak muncul
count_mode_CE_Name = df_school_nutrition['CE Name'].value_counts()[mode_CE_Name]
print("CE Name yang paling banyak muncul muncul sebanyak", count_mode_CE_Name, "kali")

## Nomor 5

Tampilkan seluruh data dalam kolom `Finding Area` yang mengandung angka "1400".

In [51]:
# Masukkan jawaban nomor 5 disini
df_school_nutrition[df_school_nutrition['Finding Area'].str.contains('1400')]

## Nomor 6

Buatlah dataframe baru dari data dataset tersebut yang terdiri dari kolom `Program Year`, `CE Name`, `Review ID`, `Review Date`, dan `Finding Area`. Serta tampilkan dimensi dari dataframe baru tersebut.

In [52]:
# Masukkan jawaban nomor 6 disini

# Membuat dataframe baru
df_school_nutrition_baru = df_school_nutrition[['Program Year', 'CE Name', 'Review ID', 'Review Date', 'Finding Area']]
df_school_nutrition_baru

In [53]:
# Menampilkan dimensi df_school_nutrition_baru
print("Dimensi dari df_school_nutrition_baru adalah", df_school_nutrition_baru.shape)
print("df_school_nutrition_baru terdiri atas {} baris dan {} kolom.".format(df_school_nutrition_baru.shape[0], df_school_nutrition_baru.shape[1]))

## Nomor 7

Buatlah daframe baru dari dataframe tersebut dengan mengubah kolom `Review Date` menjadi `Review Year` dan mengubah seluruh nilainya dalam bentuk tahun

In [54]:
# Masukkan jawaban nomor 7 disini
df_school_nutrition_using_year = df_school_nutrition_baru.copy()
df_school_nutrition_using_year['Review Year'] = df_school_nutrition_using_year['Review Date'].dt.year
df_school_nutrition_using_year.drop(columns=['Review Date'], inplace=True)
df_school_nutrition_using_year

In [55]:
# Menampilkan tipe data df_school_nutrition_using_year
df_school_nutrition_using_year.dtypes

## Nomor 8

Dari dataset pada nomor 1 tersebut, tampilkan 5 data yang memiliki `ESC Region` yang paling rendah.

In [56]:
# Masukkan jawaban nomor 8 disini
# Menampilkan df_school_nutrition yang memiliki values ESC Region paling rendah hanya 5 data
df_school_nutrition.sort_values(by='ESC Region').head(5)

In [57]:
# Alternatif menampilkan df_school_nutrition yang memiliki values ESC Region paling rendah atau min hanya 5 data
df_school_nutrition[df_school_nutrition['ESC Region'] == df_school_nutrition['ESC Region'].min()].head(5)

# **3. Pengenalan NumPy**

NumPy merupakan library Python yang umum digunakan untuk melakukan komputasi saintifik, pengolahan, serta analisis data numerik karena performa dan kemudahannya. NumPy menyerupai list dalam Python, namun NumPy memiliki beberapa kelebihan lain. NumPy  menyediakan fungsi-fungsi high-level untuk melakukan berbagai perhitungan secara efisien, seperti penjumlahan, pengurutan, dan sebagainya pada struktur data yang disebut array. Hal ini menyebabkan NumPy menjadi salah satu library yang banyak digunakan dalam proses analisis data.

In [58]:
# import library NumPy
import numpy as np

## 3.1 Pembuatan NumPy Array

Secara umum, array pada NumPy merupakan struktur data yang mirip dengan List, tetapi memiliki kemampuan yang lebih kuat dan efisien. Array bisa memiliki lebih dari satu dimensi, yang mana elemennya bisa berarti sebuah array juga, yang bisa memiliki elemen array juga, dan begitupun seterusnya sehingga memungkinkan penyimpanan struktur data dengan dimensi yang kompleks.

### 3.1.1 NumPy Array Satu Dimensi

NumPy Array Satu Dimensi adalah array satu dimensi yang serupa dengan list. NumPy Array Satu Dimensi dapat dibuat dari list atau tuple. Untuk membuat objek array, dapat digunakan fungsi array(n) dengan n berupa koleksi seperti list, tuple, dan sebagainya seperti berikut.

#### 1. Membuat Array dengan List

In [59]:
arr = np.array([5, 10, 15, 20, 25])
arr

Untuk melihat tipe dari array tersebut dapat menggunakan cara sebagai berikut.

In [60]:
print(type(arr))

#### 2. Membuat Array dengan Tuple

In [61]:
arr = np.array((1,2,3,4,5))
arr

In [62]:
print(type(arr))

Terdapat pula beberapa fungsi bawaan untuk membuat objek array yang dapat digunakan sesuai kebutuhan.

In [63]:
# Membuat array dengan nilai 0 sebanyak 5 buah
print("np.zeros(4) : ",np.zeros(5))

# Membuat array dengan nilai 1 sebanyak 5 buah
print("np.ones(4) : ",np.ones(5))

# Membuat array dengan nilai dalam range 1 sampai 15 dengan step sebesar 5
print("np.arange(1,15,3) : ",np.arange(1,15,5))

# Membuat array dengan nilai dalam range 1 sampai 10 sebanyak 4 dengan interval yang sama
print("np.linspace(1,10,4) : ",np.linspace(1,10,4))

### 3.1.2 NumPy Array Dua Dimensi

Array multidimensi di NumPy merepresentasikan data dalam bentuk tabel, matriks, atau bahkan tensor dengan lebih dari dua dimensi.

In [64]:
multi_dim_arr = np.array([[1,5,10, 15], [20,25,30, 35], [40,45,50, 55], [60,65,70, 75]])
multi_dim_arr

## 3.2 Menampilkan Atribut NumPy Array

NumPy array memiliki sejumlah atribut yang berguna untuk memahami struktur dan karakteristik data yang disimpan di dalamnya, beberapa diantaranya sebagai berikut.

In [65]:
print(multi_dim_arr)

print()

# Menunjukkan ukuran array
print("multi_dim_arr.size:", multi_dim_arr.size)

# Menunjukkan jumlah dimensi atau rank dari sebuah array
print("multi_dim_arr.ndim:", multi_dim_arr.ndim)

# Mengetahui ukuran dari setiap dimensi array
print("multi_dim_arr.shape:", multi_dim_arr.shape)

### 3.3 Periksa Tipe Data

Setiap data memiliki tipe data tertentu yang ditentukan oleh atribut dtype. Tipe data ini menentukan jenis nilai yang dapat disimpan, seperti bilangan bulat (integer), bilangan desimal (float), atau tipe data lainnya.

In [66]:
# Tipe Data List
lst = [5,10,15,20,25]
print(f"type(lst): {type(lst)}")

# Tipe Data array
arr = np.array(lst)
print(f"type(arr): {type(arr)}")

Selain fungsi type(), dapat juga menggunakan atribut dtype untuk mengetahui tipe data yang ada di dalam array.

In [67]:
# Cek tipe data dari array
print(f"arr.dtype: {arr.dtype}")

### 3.4 Indexing, Slicing, dan Assigning Value pada NumPy Array

Memanggil kembali array dan multi dimensi array yang telah dibuat sebelumnya

In [68]:
arr

In [69]:
multi_dim_arr

#### 3.3.1 Indexing

In [70]:
# Mengakses elemen indeks ke-4 dari array
arr[4]

In [71]:
# Mengakses elemen baris ke-1 dan kolom ke-2 dari multi dimensi array
print(multi_dim_arr[2,2])

# Cara lain
print(multi_dim_arr[2][2])

#### 3.3.2 Slicing

In [72]:
# slice elemen dari indeks ke-1 sampai ke-5
arr[1:6]

In [73]:
# Slice elemen dari baris ketiga, kolom 2 sampai 3
multi_dim_arr[2,1:3]

In [74]:
# Slice kolom ketiga
multi_dim_arr[:,2]

### 3.3.3 Assigning Values

In [75]:
# Mengubah value elemen ke-4 dari array
arr[3] = 100
arr

In [76]:
# Mengubah value elemen baris ke-3 dan kolom ke-4 dari multi dimensi array
multi_dim_arr[2,3] = 100
multi_dim_arr

## 3.4 Operasi Matematika pada NumPy Array

In [77]:
arr_1 = np.array([12, 15, 18, 21, 24])
arr_2 = np.array([28, 32, 36, 40, 44])

### 3.4.1 Penjumlahan Dua Buah Array

In [78]:
# Menjumlahkan dua buah array
result = arr_1 + arr_2
result

### 3.4.2 Pengurangan Dua Buah Array

In [79]:
# Mengurangkan dua buah array
result = arr_2 - arr_1
result

### 3,4,3 Perkalian Dua Buah Array

In [80]:
# Perkalian dua buah array
result = arr_1 * arr_2
result

### 3.4.4 Penjumlahan Array dengan angka tertentu

In [81]:
# Menjumlahkan setiap elemen array dengan 10
result = arr_1 + 10
result

### 3.4.5 Perkalian Array dengan angka tertentu

In [82]:
# Mengalikan setiap elemen array dengan 10
result = arr_1 * 10
result

### 3.4.6 Dot Product Dua Buah Array

In [83]:
# Dot product dua buah array
result = np.dot(arr_1, arr_2)
result

Operasi di atas dapat dilakukan pada array 1 dimensi maupun multidimensi. Kemudian, berikut ini adalah beberapa fungsi matematika yang dapat digunakan pada NumPy Array.

In [84]:
matrix = np.array([[2, 4, 6],
                   [1, 3, 5],
                   [7, 8, 9]])

print("Original Matrix:")
print(matrix)
print()

# Transpose matrix
print("Transpose Matrix:")
transpose_matrix = np.transpose(matrix)
print(transpose_matrix)
print()

# Invers matrix (hanya jika determinan tidak nol)
try:
    print("Inverse Matrix:")
    inverse_matrix = np.linalg.inv(matrix)
    print(inverse_matrix)
except np.linalg.LinAlgError:
    print("Matrix tidak memiliki invers (determinannya nol).")
print()

# Menghitung determinan matriks
print("Determinant of Matrix:")
det = np.linalg.det(matrix)
print(det)
print()

# Menghitung rank matriks
print("Rank of Matrix:")
rank = np.linalg.matrix_rank(matrix)
print(rank)
print()

# Menghitung eigenvalues dan eigenvectors
print("Eigenvalues and Eigenvectors:")
eigenvalues, eigenvectors = np.linalg.eig(matrix)
print("Eigenvalues:", eigenvalues)
print("Eigenvectors:\n", eigenvectors)

## 3.5 Operasi Statistik pada NumPy Array

In [85]:
arr = np.array([5, 10, 15, 20, 25, 30, 35, 40, 45, 50,
                55, 60, 65, 70, 75, 80, 85, 90, 95, 100])
arr

In [86]:
# Nilai rata-rata
print("Rata-rata:", np.mean(arr))

# Nilai median
print("Median:", np.median(arr))

# Nilai maksimum
print("Maksimum:", np.max(arr))

# Nilai standar deviasi
print("Standar deviasi:", np.std(arr))

# Nilai percentile
print("Percentile 75:", np.percentile(arr, 75))

# Nilai unik
print("Nilai unik:", np.unique(arr))

# Pertanyaan NumPy

## Nomor 1

Perhatikan array multidimensi berikut.

In [87]:
arr_1 = np.array([
    [7, 8, 9, 4, 3],
    [5, 6, 2, 1, 0],
    [3, 8, 4, 7, 2],
    [9, 3, 5, 6, 1],
    [0, 1, 2, 8, 4]
])

Modifikasi lah array di atas sehingga menjadi dua buah matriks baru, matriks diagonal dan matriks segitiga atas.

In [88]:
# Masukkan jawaban nomor 1 disini

# Mengubah matriks arr_1 menjadi matriks diagonal
diagonal_matrix = np.diag(np.diag(arr_1))
diagonal_matrix

In [89]:
# Mengubah matriks arr_1 menjadi matriks segitiga atas
upper_triangular_matrix = np.triu(arr_1)
upper_triangular_matrix

## Nomor 2

Terdapat beberapa *array* multidimensi sebagai berikut.

In [90]:
A = np.array([[7, 8, 5, 3], [2, 9, 4, 6], [3, 7, 1, 8], [5, 2, 6, 4]])
B = np.array([[3, 6, 8, 2], [4, 5, 7, 1], [9, 2, 3, 6], [1, 7, 5, 8]])
C = np.array([[5, 9, 3, 7], [1, 6, 4, 2], [8, 3, 5, 1], [2, 7, 9, 4]])
D = np.array([[6, 3, 5, 8], [2, 7, 9, 4], [1, 8, 6, 2], [5, 4, 3, 7]])

Dari ketiga multidimensi array di atas, lakukanlah langkah-langkah berikut ini.
1. Cari absolute dari pengurangan antara A dan C yang kemudian dijumlahi hasil pengurangan B dan D
2. Buat matrix baru yang isinya adalah hasil kuadrat tiap elemen dari matrix pada langkah 1
3. Jalankan operasi invers pada matrix pada langkah 2
4. Terapkan operasi penjumlahan antara matrix pada langkah 3 dengan matriks C
5. Jalankan perkalian skalar pada matrix D dengan hasil dot product pada langkah 4
*hint*: anda dapat menggunakan fungsi `power()`

Secara matematis, langkah di atas dapat dituliskan sebagai berikut.
1. $V = |A - C + (B - D)|$
2. $W = V^{2}$
3. $X = W^{-1}$
4. $Y = X + C$
5. $result = Y*D$

note: untuk perkalian matrix gunakan operasi *

In [91]:
# Masukkan jawaban nomor 2 disini

# 1. Cari absolute dari pengurangan antara A dan C yang kemudian dijumlahi hasil pengurangan B dan D
V = np.abs(A - C + (B - D))
V

In [92]:
# 2. Buat matrix baru yang isinya adalah hasil kuadrat tiap elemen dari matrix pada langkah 1
W = np.power(V, 2)
W

In [93]:
# 3. Jalankan operasi invers pada matrix pada langkah 2
try:
  print("Inverse Matrix dari W:")
  ð‘‹ = np.linalg.inv(W)
  print(ð‘‹)
except np.linalg.LinAlgError:
  print("Matrix W tidak memiliki invers (determinan matrix W bernilai nol).")

In [94]:
# 4. Terapkan operasi penjumlahan antara matrix pada langkah 3 dengan matriks C
Y = X + C
Y

In [95]:
# 5. Jalankan perkalian skalar pada matrix D dengan hasil dot product pada langkah 4
result = Y * D
result

## Nomor 3

Terdapat sebuah array sebagai berikut.

In [96]:
arr_3 = np.array([ 64, 152, 120, 136, 112,  80,  48,  40, 144,  72,  16,  56,  24, 160,  32, 104,  96,   8,  88, 128])

Untuk setiap elemen arr_3, bagi setiap angka dalam array dengan 8 dan kemudian hitung serta tampilkan rata-rata, median, nilai minimum, standar deviasi, variance, dan percentile 70!

In [97]:
# Masukkan jawaban nomor 3 disini

# Membagi setiap angka dalam array dengan 8
arr_3_divided_by_8 = arr_3 / 8
arr_3_divided_by_8

In [98]:
# Nilai rata-rata arr_3_divided_by_8
print("Rata-rata arr_3_divided_by_8:", np.mean(arr_3_divided_by_8))

# Nilai median arr_3_divided_by_8
print("Median arr_3_divided_by_8:", np.median(arr_3_divided_by_8))

# Nilai minimum arr_3_divided_by_8
print("Minimum arr_3_divided_by_8:", np.min(arr_3_divided_by_8))

# Nilai standar deviasi arr_3_divided_by_8
print("Standar deviasi arr_3_divided_by_8:", np.std(arr_3_divided_by_8))

# Nilai Variance arr_3_divided_by_8
print("Variance arr_3_divided_by_8:", np.var(arr_3_divided_by_8))

# Nilai percentile 70 dari arr_3_divided_by_8
print("Percentile 70 arr_3_divided_by_8:", np.percentile(arr_3_divided_by_8, 70))

# Sumber Data

* Zoo Data : https://archive.ics.uci.edu/dataset/111/zoo
* Sales Data : https://www.kaggle.com/datasets/emmanueldjegou/sales-dataset-enlarged
* School Nutirtions Program : https://www.kaggle.com/datasets/harshitsrivastava25/school-nutrition-programs